<p-growl [(value)]="msgs"></p-growl>
<p-table #dt  [columns]='streamTableCols' [value]='streams' [paginator]='true' [rows]='7' [resizableColumns]='true'>
  <ng-template pTemplate='caption'>
      <div style='text-align: right'>
        <i class='fa fa-search' style='margin:4px 4px 0 0'></i>
        <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        <button type='button' pButton icon='fa fa-plus' (click)='showDialog()' label='Add' ></button>
      </div>
      <div style='text-align: left'>

        <!--button type='button' pButton icon='fa fa-plus' (click)='openNewStreamDialog()' label='Add' ></button-->
    </div>
  </ng-template>

  <ng-template pTemplate='header' >
      <tr>
        <th pResizableColumn width='3%'>eit</th>
        <th pResizableColumn width='5%'>LCN</th>
        <th pResizableColumn width='5.5%'>USI</th>
        <th pResizableColumn  >name</th>
        <th pResizableColumn >file</th>
        <th pResizableColumn width='5%'> enabled</th>
        <th pResizableColumn width='8%'>status</th>
        <th pResizableColumn width='8%'>tsid:sid:onid</th>
        <th pResizableColumn width='8%'>address</th>
        <th pResizableColumn width='4%'>port</th>
        <th pResizableColumn width='8%'>action</th>


      </tr>
  </ng-template>
  <ng-template pTemplate='body' let-stream  let-columns='columns'>
      <tr>
        <td></td>
        <td> {{stream.lcn}}</td>
        <td> {{stream.usi}}</td>
        <td> {{stream.name}}</td>
        <td> {{stream.videofile}}</td>
        <td > <i *ngIf="!stream.enable" class="fa fa-times-circle"></i> <i *ngIf="stream.enable" class="fa fa-check" style="color:#4CAF50"></i ></td>
        <td> {{stream.status}}</td>
        <td> {{stream.tsid}} : {{stream.sid}} : {{stream.onid}}  </td>
        <td> {{stream.address}}</td>
        <td> {{stream.port}}</td>
        <td><i class="fa fa-edit"></i > <i class="fa fa-plus-circle"></i >  <i class="fa fa-trash" (click)="ConfirmDeleteStream(stream.ideit)" style="color: #f44336;" ></i ></td>
      </tr>
  </ng-template>

  <ng-template pTemplate='summary' let-rowData  >

  </ng-template>

</p-table>

<p-confirmDialog></p-confirmDialog>

<form [formGroup] ="newStreamForm">
  <p-dialog header="Create Stream" [(visible)]="display" [modal]="true" [responsive]="true" [width]="700" [minWidth]="400" [minY]="70"
  [contentStyle]="{'overflow':'visible'}" [maximizable]="true" [baseZIndex]="10000">
    <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" >
      <div class="ui-grid-row">
          <div class="ui-grid-col-2">
              <label for="lcn">lcn:</label>
          </div>
          <div class="ui-grid-col-3">
              <input pInputText id="lcn" type="text" formControlName="lcn" />
          </div>

          <div class="ui-grid-col-2  ui-md-offset-1">
            <label for="usi">Usi:</label>
          </div>
          <div class="ui-grid-col-3">
              <input pInputText id="usi" type="text" formControlName="usi"/>
          </div>
      </div>

      <div class="ui-grid-row">
          <div class="ui-grid-col-2">
              <label for="name">Name:</label>
          </div>
          <div class="ui-grid-col-9">
              <input pInputText id="name" type="text" formControlName="name"/>
          </div>
      </div>

      <div class="ui-grid-row">
          <div class="ui-grid-col-2">
              <label for="description">Description:</label>
          </div>
          <div class="ui-grid-col-9">
              <input pInputText id="description" type="text" formControlName="description"/>
          </div>
      </div>


      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
            <label for="videoFile">video File:</label>
        </div>
        <div class="ui-grid-col-9">
            <p-dropdown [style]="{'width':'50%'}" [options]="videosArray" placeholder="Select a Video" optionLabel="filename" [showClear]="true"

            formControlName="videofile"></p-dropdown>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
            <label for="tsid_sid_onid">tsid:sid:onid:</label>
        </div>
        <div class="ui-grid-col-5">
            <p-inputMask type="text"  id="tsid_sid_onid" mask="99:99:999"formControlName="tsid_sid_onid"></p-inputMask>
        </div>
        <div class="ui-grid-col-2 ui-md-offset-1">
            <label>enabled:</label>
        </div>
        <div class="ui-grid-col-1">
            <p-checkbox  binary="true" formControlName="enable"></p-checkbox>
        </div>
      </div>

      <div class="ui-grid-row">
          <div class="ui-grid-col-2">
              <label for="urlAdress">Url adress:</label>
          </div>
          <div class="ui-grid-col-5">
              <input pInputText id="urlAdress"  type="text" formControlName="address" />
          </div>

          <div class="ui-grid-col-2">
            <label for="urlPort">Url port:</label>
          </div>
          <div class="ui-grid-col-2">
              <input pInputText id="urlPort" type="text" formControlName="port"/>
          </div>
      </div>
        </div>
      <!--pre>{{newStreamForm.value | json }} </pre-->

    <p-footer>
        <button type="submit" pButton icon="pi pi-check" (click)="saveStream()" label="Yes"></button>
        <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No" class="ui-button-secondary"></button>
    </p-footer>
  </p-dialog>
</form>
