<p-toast key="topLeftMessages" ></p-toast>

<p-toast key="addStreamMsg"></p-toast>
<p-table #dt [columns]='streamTableCols' [value]='streams' [paginator]='true' [rows]='7' [resizableColumns]='true'>
  <ng-template pTemplate='caption'>
    <div style='text-align: right'>
      <i class='fa fa-search' style='margin:4px 4px 0 0'></i>
      <input type="text" pInputText size="30" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
      <button type='button' class="ui-button-success" pButton icon='fa fa-plus' (click)='showDialog()' label='Add'></button>
    </div>
    <div style='text-align: left'>

      <!--button type='button' pButton icon='fa fa-plus' (click)='openNewStreamDialog()' label='Add' ></button-->
    </div>
  </ng-template>

  <ng-template pTemplate='header'>
    <tr>
      <th pResizableColumn width='3%'>eit</th>
      <th pResizableColumn width='5%'>LCN</th>
      <th pResizableColumn width='5.5%'>USI</th>
      <th pResizableColumn>name</th>
      <th pResizableColumn>file</th>
      <th pResizableColumn width='5%'> enabled</th>
      <th pResizableColumn width='8%'>status</th>
      <th pResizableColumn width='8%'>tsid:sid:onid</th>
      <th pResizableColumn width='8%'>address</th>
      <th pResizableColumn width='4%'>port</th>
      <th pResizableColumn width='8%'>action</th>
    </tr>
  </ng-template>

  <ng-template pTemplate='body' let-stream let-columns='columns'>
    <tr>
      <td></td>
      <td> {{stream.lcn}}</td>
      <td> {{stream.usi}}</td>
      <td> {{stream.name}}</td>
      <td> {{stream.videofile}}</td>
      <td>
        <i *ngIf="!stream.enable" class="fa fa-times-circle"></i>
        <i *ngIf="stream.enable" class="fa fa-check" style="color:#4CAF50"></i>
      </td>
      <td> {{stream.status}}</td>
      <td> {{stream.tsid}} : {{stream.sid}} : {{stream.onid}} </td>
      <td> {{stream.address}}</td>
      <td> {{stream.port}}</td>
      <td>
        <i class="fa fa-plus-circle"></i>
        <i class="fa fa-edit" (click)='showDialog(stream.ideit)'></i>
        <i class="fa fa-trash" (click)="ConfirmDeleteStream(stream.ideit)" style="color: #f44336;"></i>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate='summary' let-rowData></ng-template>
</p-table>

<p-confirmDialog></p-confirmDialog>

<form [formGroup]="newStreamForm">
  <p-dialog header="Create / Edit Stream" [(visible)]="display" [modal]="true" [responsive]="true" [width]="700" [minWidth]="400"
    [minY]="70" [contentStyle]="{'overflow':'visible'}" [maximizable]="true" [baseZIndex]="10000">
    <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <label for="lcn">lcn:</label>
        </div>
        <div class="ui-grid-col-3">
          <input pInputText id="lcn" type="text" placeholder="out of [800, 899]"
            formControlName="lcn" />
        </div>

        <div class="ui-grid-col-2  ui-md-offset-1">
          <label for="usi">Usi:</label>
        </div>
        <div class="ui-grid-col-3">
          <input pInputText id="usi" type="text" placeholder="out of [2501, 2599]"
            formControlName="usi" />
        </div>
        
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <label for="name">Name:</label>
          </div>
          <div class="ui-grid-col-9">
          <input pInputText id="name" type="text" formControlName="name" placeholder="HD/SD CSAx name" />
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <label for="description">Description:</label>
        </div>
        <div class="ui-grid-col-9">
          <textarea pInputTextarea  id="description" formControlName="description" rows="3" placeholder="Description"></textarea>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <label for="videoFile">video File:</label>
        </div>
        <div class="ui-grid-col-9">
          <p-dropdown [style]="{'width':'50%'}" [options]="videosArray" placeholder="Select a Video" optionLabel="filename" [showClear]="true"
            formControlName="videofile"></p-dropdown>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <label for="tsid_sid_onid">tsid:sid:onid:</label>
        </div>
        <div class="ui-grid-col-5">
          <p-inputMask type="text" id="tsid_sid_onid" mask="99:99:999" formControlName="tsid_sid_onid" placeholder="xx:xx:167 "></p-inputMask>
        </div>
        <div class="ui-grid-col-2 ui-md-offset-1">
          <label>enabled:</label>
        </div>
        <div class="ui-grid-col-1">
          <p-checkbox binary="true" formControlName="enable"></p-checkbox>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <label for="urlAdress">Url adress:</label>
        </div>
        <div class="ui-grid-col-5">
          <input pInputText id="urlAdress" type="text" formControlName="address" placeholder="out of [232.0.6.1, 232.0.6.99]"
          required 
           />
        </div>
        <div class="ui-grid-col-2">
          <label for="urlPort">Url port:</label>
        </div>
        <div class="ui-grid-col-2">
          <input pInputText id="urlPort" type="text"  placeholder="8200"
          formControlName="port"/>
        </div>
      </div>
    </div>
    <!--div class="ui-grid-row">
      <button pButton type="button" label="Service plan..." class="ui-button-info" ></button>
    </div-->
    <!--pre>{{newStreamForm.value | json }} </pre-->
    <!--div class="ui-grid-row validatingErros" >
      <ul>
        <li *ngFor="let validationErrorMsg of validationErrorMsgs">{{validationErrorMsg.content}}</li>
      </ul>
    </div-->

    <div class="ui-grid-row" *ngIf="validatingErrosBlock">
        <div class="ui-grid-col-12">
          <p-messages [(value)]="validationErrors"></p-messages>
        </div>
      </div>
    <p-footer>
      <button type="button" pButton class="ui-button-danger" icon="fa fa-close" (click)="display=false" label="Cancel"></button>
      <button type="submit" pButton class="ui-button-success" icon="pi pi-check" (click)="saveStream()" label="Save"></button>
    </p-footer>
  </p-dialog>
</form>
