.ui-grid-row{
  margin-top: 10px;
}
.navButtons{
  margin-top: 10px;
  text-align: left;
}
.navButtons > button {
  padding:8px;
  text-align: left;
  font-weight: bold;
}
.navButtons > button:hover{
  border-right: 5px solid #F44336 !important;
  background-color: #e6e6e6;
}
.tabMenu{
  width:20%;
  display: inline-block;

}
.tabMenuContent{
  margin-left:20px;
  width:70%;
  display: inline-block;
  clear: both;
}
:host >>> .ui-widget-header {
  background-color: #FFFFFF;
  border: 0px solid #2790b0;

}
:host >>> .ui-tabview.ui-tabview-left>.ui-tabview-nav li {
  border-right: 1px solid #d4d4d4;
}

:host >>>.ui-fieldset .ui-fieldset-legend-text{
  font-weight: bold;
  color:#2790b0;
}
:host >>> .ui-tabview-panels{
  border : 1px solid #d4d4d4;
}
:host >>> .ui-fieldset{
  padding-bottom: 0.8em;
}

.activeButton{
  border-right: 5px solid #2790b0 !important;
  background-color: #cad7dc;
}
:host>>> .ui-tabview.ui-tabview-top>.ui-tabview-nav{
    padding: 0;
}
:host >>> .ui-tabview-title{
  font-weight: bold;
}
pre{
  font-size: 1.2em;
  font-weight: bold;
}
.twocolumns{
  padding:10px;
  width:80%;
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  column-count: 2;
  column-gap: 10px;
}

:host >>> .segment-key{
  font-weight: bold;
  font-size: 1.2em;
}
:host >>> .segment-value{
  font-weight: bold;
  font-size: 1.2em; 
} 

.jsonError{
  background-color:#F8B7BD;
  font-weight: bold;
  padding: 1.5em;
}
#showJsonButton{
  background-color: #2790b0 !important ;
  border-color: #2790b0 !important;
  margin-right:1.2em;
}

#importJsonButton{
 
  margin-right:1.2em;
}