<p-tabView>
    <p-tabPanel header="Eit present & following">
      <form [formGroup]="eit">
        <div class="ui-grid-row">
          <div class="ui-g-3">
            <div class="ui-g ui-fluid navButtons">
              <button pButton type="button" label="0x4d: Short event descriptor" (click)=(changeDiv(1))
              [ngClass]="{'activeButton':blockToShow == 1}"></button>
            </div>
            <div class="ui-g ui-fluid navButtons">
              <button pButton type="button" label="0x4e: Extended event descriptor" (click)=(changeDiv(2))
              [ngClass]="{'activeButton':blockToShow == 2}"></button>
            </div>
            <div class="ui-g ui-fluid navButtons">
              <button pButton type="button" label="0x54: Content descriptor" (click)=(changeDiv(3))
              [ngClass]="{'activeButton':blockToShow == 3}"></button>
            </div>
            <div class="ui-g ui-fluid navButtons">
              <button pButton type="button" label="0x55: Parental rating descriptor" (click)=(changeDiv(4))
              [ngClass]="{'activeButton':blockToShow == 4}"></button>
            </div>
            <div class="ui-g ui-fluid navButtons">
              <button pButton type="button" label="0x50: Component descriptor" (click)=(changeDiv(5))
              [ngClass]="{'activeButton':blockToShow == 5}"></button>
            </div>
            <div class="ui-g ui-fluid navButtons">
              <button pButton type="button" label="0xA?: Private descriptors" (click)=(changeDiv(6))
              [ngClass]="{'activeButton':blockToShow == 6}"></button>
            </div>
          </div>
          <div class="ui-g-9">

            <div formGroupName="eitPresentSection" class="ui-g-6">

              <div formGroupName="eitEvents">

                <div formGroupName="SHORT_EVENT_DESCRIPTOR" *ngIf="blockToShow == 1" class="ui-fluid">
                  <p-fieldset legend="Present section">
                    <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                        <label for="name">Name:</label>
                      </div>
                      <div class="ui-grid-col-8">
                        <input pInputText id="name" formControlName="event_name" required type="text" />
                      </div>
                    </div>
                    <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                        <label for="description">Description*:</label>
                      </div>
                      <div class="ui-grid-col-8">
                        <input pInputText id="description" type="text" formControlName="event_text" />
                      </div>
                    </div>
                    <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                        <label>Lang:</label>
                      </div>
                      <div class="ui-grid-col-8">
                        <p-dropdown [style]="{'width':'100%'}" [options]="lang" placeholder="" formControlName="event_lang" [showClear]="true"></p-dropdown>
                      </div>
                    </div>
                  </p-fieldset>
                </div>

                <div formGroupName="EXTENDED_EVENT_DESCRIPTOR" *ngIf="blockToShow == 2" class="ui-fluid">
                  <p-fieldset legend="Present section">
                      <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <label for="name">Name:</label>
                        </div>
                        <div class="ui-grid-col-8">
                            <input pInputText id="name"  required  type="text" />
                        </div>
                      </div>
                      <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <label>Lang:</label>
                        </div>
                        <div class="ui-grid-col-8">
                            <p-dropdown [style]="{'width':'100%'}" [options]="lang" placeholder="" [showClear]="true"></p-dropdown>
                        </div>
                      </div>
                  </p-fieldset>
                </div>

                <div formGroupName="CONTENT_DESCRIPTOR" *ngIf="blockToShow == 3">
                  <p-fieldset legend="Present section">
                      <div class="ui-grid-row">
                          <button pButton type="button" label="Define category" class="ui-button-info"></button>
                          <button pButton type="button" icon='fa fa-close'  class="ui-button-danger"></button>
                      </div>

                        <div class="ui-grid-row">
                            <div class="ui-g-3">
                                <label>Level1:</label>
                            </div>
                            <div class="ui-g-9">
                                <p-dropdown [style]="{'width':'100%'}" [options]="category" placeholder=""
                                  [showClear]="true" (onChange)="onChange($event)">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-3">
                                <label>Level2:</label>
                            </div>
                            <div class="ui-g-9">
                                <p-dropdown [style]="{'width':'100%'}" [options]="subCategory" placeholder="" [showClear]="true"></p-dropdown>
                            </div>
                        </div>
                  </p-fieldset>
                </div>

                <div formGroupName="PARENTAL_RATING_DESCRIPTOR" *ngIf="blockToShow == 4">
                  <p-fieldset legend="Present section">
                      <div class="ui-grid-row">
                          <p-checkbox value="ccc" label="Canal custom codes" (onChange)=(changeRating($event))></p-checkbox>
                      </div>
                      <div class="ui-grid-row">
                        <div class="ui-g-2">
                            <label>Lang: </label>
                        </div>
                        <div class="ui-g-9">
                            <p-dropdown [style]="{'width':'100%'}" [options]="csaRating" placeholder="" [showClear]="true"></p-dropdown>
                        </div>
                      </div>
                      <div class="ui-grid-row">
                          <div class="ui-g-2">
                              <label>Country:</label>
                          </div>
                          <div class="ui-g-9">
                              <p-dropdown [style]="{'width':'100%'}" [options]="countries" placeholder="" [showClear]="true"></p-dropdown>
                          </div>
                      </div>
                    </p-fieldset>
                </div>

                <div formGroupName="COMPONENT_DESCRIPTOR" *ngIf="blockToShow == 5">
                  <p-fieldset legend="Present section">
                      <div class="ui-g">
                          <div class="ui-g-12 ui-md-6">
                              <div class="ui-g-4">
                                  <label>Aspect ratio</label>
                              </div>
                              <div class="ui-g-8">
                                  <p-dropdown [style]="{'width':'100%'}" [options]="lang" placeholder="" [showClear]="true"></p-dropdown>
                              </div>
                          </div>
                          <div class="ui-g-12 ui-md-6 ui-g-nopad">
                              <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, hic facere
                              </p>
                          </div>
                      </div>
                      <hr>
                      <div class="ui-g">
                          <div class="ui-g-12">
                              <button pButton type="button" label="Add audio Language" class="ui-button-info"></button>
                              <button pButton type="button" icon='fa fa-close'  class="ui-button-danger"></button>
                          </div>
                          <div class="ui-g-12 ui-md-6">
                              <div class="ui-g-3">
                                  <label>lang:</label>
                              </div>
                              <div class="ui-g-9">
                                  <p-dropdown [style]="{'width':'100%'}" [options]="lang" placeholder="" [showClear]="true"></p-dropdown>
                              </div>
                          </div>
                          <div class="ui-g-12 ui-md-6 ui-g-nopad">
                              <div class="ui-g-12">
                                  <p-checkbox value="val1" label="audio description"></p-checkbox>
                                  <p-radioButton name="audioGroup" value="Option 1" label="AAC(normal)"></p-radioButton>
                              </div>
                              <div class="ui-g-12">
                                  <p-radioButton name="audioGroup" value="Option 1" label="AC3(dolby)"></p-radioButton>
                                  <p-radioButton name="audioGroup" value="Option 1" label="DTS"></p-radioButton>
                              </div>
                          </div>
                      </div>
                      <hr>
                      <div class="ui-g">
                        <div class="ui-g-12">
                          <button pButton type="button" label="Add subtitle Language" class="ui-button-info"></button>
                          <button pButton type="button" icon='fa fa-close'  class="ui-button-danger"></button>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                <label>lang:</label>
                            </div>
                            <div class="ui-g-8">
                                <p-dropdown [style]="{'width':'100%'}" [options]="lang" placeholder="" [showClear]="true"></p-dropdown>
                            </div>
                        </div>
                      </div>
                  </p-fieldset>
                </div>

              </div>
            </div>

            <div formGroupName="eitFollowingSection"class="ui-g-6">

              <div formGroupName="eitEvents">

                <div formGroupName="SHORT_EVENT_DESCRIPTOR" *ngIf="blockToShow == 1" class="ui-fluid">
                    <p-fieldset legend="Present section">
                      <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                          <label for="name">Name:</label>
                        </div>
                        <div class="ui-grid-col-8">
                          <input pInputText id="name" formControlName="event_name" required type="text" />
                        </div>
                      </div>
                      <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                          <label for="description">Description*:</label>
                        </div>
                        <div class="ui-grid-col-8">
                          <input pInputText id="description" type="text" formControlName="event_text" />
                        </div>
                      </div>
                      <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                          <label>Lang:</label>
                        </div>
                        <div class="ui-grid-col-8">
                          <p-dropdown [style]="{'width':'100%'}" [options]="lang" placeholder="" formControlName="event_lang" [showClear]="true"></p-dropdown>
                        </div>
                      </div>
                    </p-fieldset>
                </div>

                <div formGroupName="EXTENDED_EVENT_DESCRIPTOR" *ngIf="blockToShow == 2" class="ui-fluid">
                  <p-fieldset legend="Present section">
                      <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <label for="name">Name:</label>
                        </div>
                        <div class="ui-grid-col-8">
                            <input pInputText id="name"  required  type="text" />
                        </div>
                      </div>
                      <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <label>Lang:</label>
                        </div>
                        <div class="ui-grid-col-8">
                            <p-dropdown [style]="{'width':'100%'}" [options]="lang" placeholder="" [showClear]="true"></p-dropdown>
                        </div>
                      </div>
                  </p-fieldset>
                </div>

                <div formGroupName="CONTENT_DESCRIPTOR" *ngIf="blockToShow == 3">
                  <p-fieldset legend="Present section">
                      <div class="ui-grid-row">
                          <button pButton type="button" label="Define category" class="ui-button-info"></button>
                          <button pButton type="button" icon='fa fa-close'  class="ui-button-danger"></button>
                      </div>

                        <div class="ui-grid-row">
                            <div class="ui-g-3">
                                <label>Level1:</label>
                            </div>
                            <div class="ui-g-9">
                                <p-dropdown [style]="{'width':'100%'}" [options]="category" placeholder=""
                                  [showClear]="true" (onChange)="onChange($event)">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-g-3">
                                <label>Level2:</label>
                            </div>
                            <div class="ui-g-9">
                                <p-dropdown [style]="{'width':'100%'}" [options]="subCategory" placeholder="" [showClear]="true"></p-dropdown>
                            </div>
                        </div>
                  </p-fieldset>
                </div>

                <div formGroupName="PARENTAL_RATING_DESCRIPTOR" *ngIf="blockToShow == 4">
                  <p-fieldset legend="Present section">
                      <div class="ui-grid-row">
                          <p-checkbox value="ccc" label="Canal custom codes" (onChange)=(changeRating($event))></p-checkbox>
                      </div>
                      <div class="ui-grid-row">
                        <div class="ui-g-2">
                            <label>Lang: </label>
                        </div>
                        <div class="ui-g-9">
                            <p-dropdown [style]="{'width':'100%'}" [options]="csaRating" placeholder="" [showClear]="true"></p-dropdown>
                        </div>
                      </div>
                      <div class="ui-grid-row">
                          <div class="ui-g-2">
                              <label>Country:</label>
                          </div>
                          <div class="ui-g-9">
                              <p-dropdown [style]="{'width':'100%'}" [options]="countries" placeholder="" [showClear]="true"></p-dropdown>
                          </div>
                      </div>
                    </p-fieldset>
                </div>

                <div formGroupName="COMPONENT_DESCRIPTOR" *ngIf="blockToShow == 5">
                  <p-fieldset legend="Present section">
                      <div class="ui-g">
                          <div class="ui-g-12 ui-md-6">
                              <div class="ui-g-4">
                                  <label>Aspect ratio</label>
                              </div>
                              <div class="ui-g-8">
                                  <p-dropdown [style]="{'width':'100%'}" [options]="lang" placeholder="" [showClear]="true"></p-dropdown>
                              </div>
                          </div>
                          <div class="ui-g-12 ui-md-6 ui-g-nopad">
                              <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, hic facere
                              </p>
                          </div>
                      </div>
                      <hr>
                      <div class="ui-g">
                          <div class="ui-g-12">
                              <button pButton type="button" label="Add audio Language" class="ui-button-info"></button>
                              <button pButton type="button" icon='fa fa-close'  class="ui-button-danger"></button>
                          </div>
                          <div class="ui-g-12 ui-md-6">
                              <div class="ui-g-3">
                                  <label>lang:</label>
                              </div>
                              <div class="ui-g-9">
                                  <p-dropdown [style]="{'width':'100%'}" [options]="lang" placeholder="" [showClear]="true"></p-dropdown>
                              </div>
                          </div>
                          <div class="ui-g-12 ui-md-6 ui-g-nopad">
                              <div class="ui-g-12">
                                  <p-checkbox value="val1" label="audio description"></p-checkbox>
                                  <p-radioButton name="audioGroup" value="Option 1" label="AAC(normal)"></p-radioButton>
                              </div>
                              <div class="ui-g-12">
                                  <p-radioButton name="audioGroup" value="Option 1" label="AC3(dolby)"></p-radioButton>
                                  <p-radioButton name="audioGroup" value="Option 1" label="DTS"></p-radioButton>
                              </div>
                          </div>
                      </div>
                      <hr>
                      <div class="ui-g">
                        <div class="ui-g-12">
                          <button pButton type="button" label="Add subtitle Language" class="ui-button-info"></button>
                          <button pButton type="button" icon='fa fa-close'  class="ui-button-danger"></button>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-g-4">
                                <label>lang:</label>
                            </div>
                            <div class="ui-g-8">
                                <p-dropdown [style]="{'width':'100%'}" [options]="lang" placeholder="" [showClear]="true"></p-dropdown>
                            </div>
                        </div>
                      </div>
                  </p-fieldset>
                </div>

              </div>
            </div>
          </div>

        </div>
      </form>
    </p-tabPanel>

    <p-tabPanel header="Json">
      <div class="ui-grid-row">
        <pre contenteditable="true">{{eit.value | json }}</pre>
      </div>
    </p-tabPanel>

  </p-tabView>








  <!--form [formGroup]="eit">
    <div formGroupName ="eitPresentSection">
      <div formGroupName="eitEvents">
        <div formGroupName="SHORT_EVENT_DESCRIPTOR">
          <div>
          </div>
            <input formControlName="event_name" placeholder="First name">
            <div>
              <label for="sdsq">sdsqd</label>
            </div>
            <div>
              <input formControlName="event_text" placeholder="Last name">
            </div>
            <div formGroupName="EXTENDED_EVENT_DESCRIPTOR">
                <input formControlName="text" placeholder="First name">
            </div>
        </div>
      </div>

    </div>
    </form>



    <code>
      <pre contenteditable="true" style="font-size: 20px;">
        {{ eit.value |  json }}
      </pre>
    </code-->
