
#mybar{
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
}
.resize{
  position: relative;
  left:40px;
  width: 60px;
  height: auto;
}
#menuApp{
position: relative;
top:-28px;
}
.blue{
  height:10px;
  background-color: #2790b0;
}
:host >>> .ui-card-body{
  height: auto;
}
.fixedFooter{
    position: fixed;
    bottom: 0;
    text-align: center;

}

:host >>> .fixedFooter> .ui-card .ui-widget .ui-widget-content .ui-corner-all{
  height: 20px !important;
}
