<div id="mybar">
  <div class="blue"></div>
  <p-card>
      <img src="assets\images\LOGO-NEOSOFT.png" alt="image" class="resize">
  </p-card>
  <div class="ui-grid-row">
      <div class="ui-md-offset-2 ui-md-8" id="menuApp">
          <p-menubar [model]="items" styleClass="menubar"></p-menubar>
      </div>
  </div>

  <p-card>
    <router-outlet ></router-outlet>
  </p-card>

  <div class="ui-md-offset-1 ui-md-10" >
    <p-card >
            <p>Néo-soft Copyright all rights reserved - 2018 -</p>
    </p-card>
  </div>
</div>
